.add-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    &__item {
        width: 400px;
        &-name {
            width: 100%;
            font-size: 2rem;
        }
    }
}
.button-form{
    width: 100px;
    height: 40px;
}
