@use "../../assets/scss/abstracts/mixins" as abstracts;

.btn {
    background: #ffb700;
    padding: 10px 55px;
    border-radius: 6px;

    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    cursor: pointer;
    flex-shrink: 0;

    @include abstracts.screen(lg) {
        padding: 10px 30px;
    }
}
