.header-admin {
    display: flex;
    position: unset;
    justify-content: space-between;
    background: transparent;
    margin-bottom: 50px;
}

.hello {
    font-size: 2.6rem;
    font-weight: 600;
}
