@use "../../assets/scss/abstracts/mixins" as abstracts;
.top-action__group-search {
    position: relative;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
    background: var(--bg-action);
    padding: 13px;
    @include abstracts.screen(lg) {
        display: flex;
    }
    input {
        padding: 0 20px;
        width: 350px;
        font-size: 1.5rem;
        line-height: 140%;
        color: var(--text-color);

        @include abstracts.screen(xl) {
            width: 200px;
            padding: 0 6px;
        }
        @include abstracts.screen(md) {
            width: 180px;
            padding: 0 6px;
        }
    }
}

.top-action__icon-clear {
    position: absolute;
    top: 19px;
    right: 50px;
    width: 14px;
    height: 14px;
    z-index: 8;
}

.top-action__icon-loading {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 25px;
    right: 49px;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.wrapper {
    position: absolute;
    width: 400px;
    height: auto;
    right: -200px;
    top: 69px;
    border-radius: 8px;
    padding: 10px;
    background: var(--bg-product);
    @include abstracts.screen(xl) {
        position: absolute;
        right: -128px;
        top: 69px;
        width: 250px;
        padding: 0 6px;
    }
    @include abstracts.screen(md) {
        position: absolute;
        right: -115px;
        top: 69px;
        width: 230px;
        padding: 0 6px;
    }
}

.result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    &__title {
        font-size: 1.3rem;
        line-height: 140%;
        color: var(--text-color);
        padding-bottom: 4px;
    }

    &__price {
        font-size: 1.2rem;
        color: var(--color-lava);
    }

    &__img {
        width: 40px;
        height: 40px;
    }
}
